# ============================================================
# Bridge to AWS IOT
# ============================================================

connection awsiot

#Paste your AWS Mosquitto MQTT broker address in the form of <IPv6 address>:<port>

address 2a05:d016:5ca:ffb3:d52e:4858:f856:9f31:1883

# Specifying which topics are bridged and in what fashion
topic awsiot_to_localgateway in 1
topic localgateway_to_awsiot out 0

# Setting protocol version explicitly
bridge_protocol_version mqttv311
bridge_insecure false

# Bridge connection name and MQTT client Id, enabling the connection automatically when the broker starts.
cleansession true
clientid bridgeawsiot
start_type automatic
notifications false
log_type all

# ============================================================
# Certificate based SSL/TLS support
# ============================================================

#Path to the rootCA
#bridge_cafile /etc/mosquitto/certs/rootCA.pem

# Path to the PEM encoded client certificate
#bridge_certfile /etc/mosquitto/certs/cert.crt

# Path to the PEM encoded client private key
#bridge_keyfile /etc/mosquitto/certs/private.key

#END of bridge.conf
